@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto-Bold.ttf");
}


@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.ttf");
}


@font-face {
  font-family: "Roboto-Thin";
  src: url("./fonts/Roboto-Thin.ttf");
}

body {
  font-family: Roboto-Regular, sans-serif;
}

.font-bold {
  font-family: Roboto-Bold, sans-serif;
}

.font-black {
  font-family: Roboto-Black, sans-serif;
}
